@media only screen and (max-width: 1320px) {
    header {
        width: 90%;
        margin: 0 5%;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        width: 96%;
        margin: 0 2%;
    }

    .nav-links ul li {
        margin-left: 2px;
        text-decoration: none;
    }

    .nav-links ul li a {
        display: block;
        font-size: 15px;
        padding: 5px 20px;
        transition: 0.5s;
        margin: 0.5px;
        font-size: 12px;
    }

    .nav-button i {
        width: 20px;
        height: 24px;
        flex-shrink: 0;
        color: #ED017F;
        font-size: 25px;
        padding-right: 30px;
    }

}

@media only screen and (max-width: 768px) {
    header {
        width: 96%;
        margin: 0 2%;
    }
    


    .nav-links ul li {
        margin-left: 1px;
        text-decoration: none;
    }

    .nav-links ul li a {
        display: block;
        font-size: 15px;
        padding: 5px 5px;
        transition: 0.5s;
        margin: 0.5px;
        font-size: 10px;
    }

    .nav-button i {
        width: 20px;
        height: 24px;
        flex-shrink: 0;
        color: #ED017F;
        font-size: 25px;
        padding-right: 30px;
    }

    .hero{
        display: flex;
        width: 96%;
        margin: 0 2%;
        height: 90vh;
    }

    .hero1-icons{
        font-size: 36px;
        margin-top: 20px;
    }


    .hero1 p{
        width: 100%;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    .hero1 h1{
        font-size: 38px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        margin-top: 100px;
    }

    .hero1{
        width: 50%;
    }

    .hero2{
        width: 50%;
    }
    
    .hero2 img{
        width: 106%;
        height: 100%;
        flex-shrink: 0;
    }

    .sec2,
    .sec2-header{
        width: 96%;
    }



    .sec4-img{
        width: 50vw;
        height: 80vh;
        overflow-x: hidden !important;
        background: url(/static/images/moneyplant.svg), 
        lightgray 50% / cover no-repeat;
    }

    .sec4-img img{
        width: auto;
        height: auto;
        
    }

    .sec4-txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 5%;
      }
    
      .sec4-txt h1{
        width: 300px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
      }
    
      .sec4-txt p{
        width: 300px;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14.5px;
      }
    
    
      .sec4-link a{
        text-decoration: none;
      }
    
      .sec4-link p{
        color: var(--primary-100, #ED017F);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Days One;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
      }

      .sec4-icon{
        font-size: 20px;
      }
}

@media only screen and (max-width: 425px) {
    header {
        width: 98%;
        margin: 0;
        height: 75px;
    }

    body{
        background-color:#FFF;
        overflow-x: hidden !important;
        margin: 0;
        padding: 0;
    }

    .hamburger {
        display: block;
        margin-right: -25px;
    }

    .hamburger i {
        flex-shrink: 0;
        color: #ED017F;
        font-size: 50px;
        padding-right: 33px;
        transition: 0.5s;
    }

    .close {
        display: none;
        transition: 0.5s;
    }

    .open.active {
        display: none;
        transition: 0.5s;
    }

    .close.active {
        display: block;
        transition: 0.5s;
    }

    .nav-links {
        height: 300px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 0vw;
        overflow: hidden;
        width: 100vw;
        margin-left: 100vw;
        transition: 1s;
        display: flex;
    }


    .mv-nav-button {
        display: block;
        justify-content: right;
    }

    header{
        background: white;
        margin-top: -10px;
    }

    .spacer{
        width: 80%;
        margin: 0 10%;
        height: 14vh;
    }

    .nav-links.active {
        height: 100vh;
        transition: 0.5s;
        margin-left: 1vw;
        background-color: #FFF;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: right;
        /* Align the content to the right */
        transition: 0.5s;

    }

    .nav-links.active ul {
        opacity: 100;
    }

    .nav-links ul li a {
        margin-bottom: 10px;
    }

    .nav-button {
        display: none;
    }

    .mv-btn {
        display: flex;
        margin-right: 2vw;
        justify-content: flex-end;
    }

    .mv-btn button{
        width: 200px;
        height: 25px;
        background: var(--primary-100, #ED017F);
        color: #FFF;
        text-align: right;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 166.667% */
        letter-spacing: 2px;
        text-transform: uppercase;
        border: none;
    }

    .mv-btn i{
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        color: #ED017F;
        font-size: 25px;
        padding-right: 33px;
    }
    
    .hero{
        flex-direction: column-reverse;
        width: 98%;
        margin: 0 1%;
        height: 90vh;
    }

    .hero1{
        width: 100%;
        height: 50%;
    }

    .hero1 h1{
        font-size: 31.5px;
        line-height: 34px;
        margin-top: 0;
    }

    .hero1 p{
        width: 80%;
        font-size: 10px;
        font-weight: 500;
        line-height: 11px;
        margin-top: -15px;
    }

    .hero1-btn{
        font-size: 6px;
        font-style: normal;
        font-weight: 600;
        line-height: 10px; /* 166.667% */
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .hero1-btn2:hover,
    .hero1-btn1{
        width: 100px;
        height: 36px;
    }

    .hero1-btn1:hover,
    .hero1-btn2{
        width: 100px;
        height: 36px;
    }

    .hero1-icons{
        font-size: 24px;
        margin-top: 15px;
        display: flex;
        align-content: center;
    }

    .hero2{
        width: 100%;
        height: 50%;
        /* overflow-x: hidden; */
    }

    .hero2 img{
        /* border: 1px solid blue; */
        width: 103%;
        height: 100%;
        flex-shrink: 0;
    }
    
    .sec2,
    .sec2-header{
        width: 98%;
    }

    .sec2-header h1{
        font-size: 22px;
        line-height: 30px;
    }

    .sec2-header p{
        font-size: 11px;
        line-height: 12px;
    }

    .parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .p-item1{
        margin: 5px;
    }

    .p-item1 h1 {
        font-size: 14px;
        line-height: 11px;
    }

    .p-item1 p {
        width: 160px;
        font-size: 10px;
        line-height: 12px;
    }

    .p-item1 img{
        width: 10%;
        height: auto;
    
    }.sec3-img img{
        width: 90%;
    }

    .sec3,
    .sec3-header{
        width: 98%;
    }

    .sec3-header h1{
        font-size: 22px;
        line-height: 30px;
    }


    .sec4{
        flex-direction: column;
        background: url(/static/images/moneyplant.svg), 
        lightgray 50% / cover no-repeat;
    }

    .sec4-img{
        width: 100vw;
        height: 45vh;
        overflow-x: hidden !important;
        background: url(/static/images/moneyplant.svg), 
        lightgray 50% / cover no-repeat;
    }

    .sec4-img img{
        width: auto;
        height: auto;
        
    }

    .sec4-txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding: 2.5%;
      }
    
      .sec4-txt h1{
        width: 300px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        color: #FFF;
      }
    
      .sec4-txt p{
        width: 300px;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14.5px;
        color: #ED017F;
      }
    
    
      .sec4-link a{
        text-decoration: none;
      }
    
      .sec4-link p{
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Days One;
        font-size: 9.7px;
        font-style: normal;
        font-weight: 400;
        line-height: 13.3px;
      }

      .sec4-icon{
        font-size: 15px;
      }
}
